# Datasets
*.bz2
*.csv
*.swp

# Intermediate files
*.db
*.txt

# Codeblocks
bin/
obj/
*.cbp
*.depend
*.layout

# Binaries
*.out
*.exe
a
res
test
test_O2

# Garbage
.DS_Store
*.stackdump
*.exe.stackdump
