# Datasets
*.bz2
*.csv
*.swp

# Intermediate files
index
*.db
*.txt
*.log

# Binaries
*.out
*.exe
a
res
test
test*

# Assembly
*.s

# Garbage
.DS_Store
*.stackdump
*.exe.stackdump

# Codeblocks
bin/
obj/
*.cbp
*.depend
*.layout

# Visual Studio
.vs/
Debug/
Release/
*.vcxproj
*.vcxproj.filters
*.sln
