# Datasets
*.bz2
*.csv
*.swp

# Intermediate files
*.db
*.txt

# Binaries
*.out
*.exe
a
res
test
test*

# Garbage
.DS_Store
*.stackdump
*.exe.stackdump

# Codeblocks
bin/
obj/
*.cbp
*.depend
*.layout

# Visual Studio
.vs/
Debug/
Release/
*.vcxproj
*.vcxproj.filters
*.sln
